<div class="" id="myBody" ng-controller="loginCtrl">
    <header>
        <div class="navbar navbar-blue navbar-fixed-top">
            <div class="container-fluid border-bot">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="navbar-header positiner">



							<div class="toolName-Font absoluteName">Self LEarning Portal</div>
                        </div>						
                    </div>
                </div>



            </div>
        </div>
    </header>

    <hr>
    <hr>
    <hr>
    <div>
        <div class="container" id="loginForm">
            <div class="row">
                <div class="col-md-12 col-lg-12 profileDashboard">
                    <h4>Self Learning Portal</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
        </div>
    </footer>
</div>