
.allBg{
/*	background: #546069;*/
}


/*.body-black{
	
	
background: rgba(126,147,148,1);
background: -moz-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,147,148,1)), color-stop(100%, rgba(84,96,105,1)));
background: -webkit-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -o-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -ms-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: linear-gradient(to bottom, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e9394', endColorstr='#546069', GradientType=0 );
}*/

/*.gradBg{
	
background: rgba(126,147,148,1);
background: -moz-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,147,148,1)), color-stop(100%, rgba(84,96,105,1)));
background: -webkit-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -o-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: -ms-linear-gradient(top, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
background: linear-gradient(to bottom, rgba(126,147,148,1) 0%, rgba(84,96,105,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e9394', endColorstr='#546069', GradientType=0 );

}*/

.blackHolder{
	/*background: #000000;
	border-radius: 7px;*/
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
}
.whiteBox{
	background: #ffffff;
	border-radius: 7px;
	padding: 12px;
	min-height: 200px;
	cursor: pointer;
}
.topSpace{
	margin-top: 20px !important;
	margin-bottom: -5px;
}

.fontHighlight{
  font-size: 65px;
  color: #545550;

}

.fontHighlightRed{
  font-size: 65px;
  color: #db0404;

}



.box-font {
    font-size: 1.1em;
    margin-left: 15px;
    position: absolute;
    top: 30%;
}

.text-holder{
	position: relative;
	height: 140px;
}

/*
.dialLeft{
	width: 150px;
	height: 140px;
	float: left;
}
*/

.dialLeft{
	width: 30%;
	height: 140px;
	float: left;
}

.box-fontDial{
    font-size: 1.2em;
    margin-left: 15px;
    position: absolute;
    top: 35%;
}

.nav-shadow{
	-webkit-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.75);
box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.75);
border-bottom: 1px solid #5E5E5E;
}

.pop-tick{
 padding-right: 12px;
 font-size: 0.8em;
 margin-left: -18px;
 margin-top: 3px;
 color: #0f4c6a;
}

.pop-up ul li{
	padding-left: 40px;
}

.pop-stripe{
	background: #F4F9F9;
	border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.modal-sm-custom{
  width: 400px;	
}

.custom-head{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
border-radius: 5px 5px 0 0;
color: #ffffff;
}

.white{
	color: #ffffff;
}

.mod-foot{
	background: #EAEAEA;
	border-top: 1px solid #c9c9c9;
	padding-top: 8px;
	padding-bottom: 8px;
}



/* Border Fade */
.hvr-border-fade {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

.list-holder ul{
	padding-left: 0px;
}


.list-holder ul li{
	background: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
	padding: 5px;
	list-style: none;
	border-radius: 4px;
	border: 1px solid #D6D1D1;
	margin-bottom: 10px;
}

.half-length-left{
	width: 48%;
	float: left;
	margin-right:4%;
}

.half-length-right{
	width: 48%;
	float: left;
}

.clear{
	clear:both;
}

.imageLeft {
    float: left;
    height: 100%;
    /*padding-top: 20px;*/
    width: 30%;
	height: 100%
}



.whiteBox-Text{
	float: left;
	cursor:pointer;
	width: 69%;
	margin-top: 10px;
}
.panel-default .panel-body:hover{
/*	border: 1px solid #bbb;*/
}


.imageLeft-scale{
	float: left;
	padding-top: 20px;
}

.text-right{
	margin-left: 15px;
	text-align: left;
    margin-top: -10px;
    color:#545550
}

.bottom-text{
 	float: left;
	top: 60%;
	color:#545550
}


.text-right-lefter{
	float: right;
    margin-right: 40px;
    margin-top: -10px;
}


.imageRight{
	float: right;
	padding-top: 20px;
}


/*----Dashboard Two Styling----*/


/*
.table-bordered thead tr th{
	border: 1px solid #B7B7B7;
	background: #3D3D3D;
	color: #ffffff;
}

.table-bordered tbody tr th{
	border: 1px solid #B7B7B7;
	background: #3D3D3D;
	color: #ffffff;
}

.table-bordered tbody tr td{
	border: 1px solid #B7B7B7;
	vertical-align: middle;
	padding: 4px;
	background: #f2f2f2;
}
*/

.custom-bdg{
	font-size: 1.1em;
}

.jqx-grid-cell-left-align{
  white-space: normal;	
}

.jqx-grid-column-header, .jqx-grid-columngroup-header{
	white-space: normal;
}

.jqx-grid-cell, .jqx-item{
	text-align: center !important;
}

.impactApp{
	height: 350px;
}

.findings{
	height: 315px;
	overflow-y: auto;
	margin-bottom: 0px;
}
.floatRight{
	float: right;
}

.customBadge{
	margin-top:7px;
	padding: 5px 5px;
	font-size: 1em;
-webkit-box-shadow: -1px 3px 2px -1px #757575;
-moz-box-shadow: -1px 3px 2px -1px #757575;
box-shadow: -1px 3px 2px -1px #757575;
	border: 1px solid #cccccc;
	
background: #299B68; /* Old browsers */

/*
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); 
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); 
background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); 
*/

cursor: pointer;
font-weight: normal;
width: 80px;
white-space: normal;
	
}

.jqx-grid-cell-pinned.jqx-grid-cell-pinned-black{
	font-weight: bold;
}

.bottomDial{
	
}

.blackBg{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: #000000; 
}

.appSelection{
color:#fff !important; 
border-color:#000; 
background: #a4a4a4;
background: -moz-linear-gradient(top, #a4a4a4 0%, #757575 4%, #4f4f4f 37%, #464646 48%, #000000 52%, #000000 56%, #0c0c0c 67%, #1e1e1e 78%, #414141 96%, #666666 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a4a4), color-stop(4%,#757575), color-stop(37%,#4f4f4f), color-stop(48%,#464646), color-stop(52%,#000000), color-stop(56%,#000000), color-stop(67%,#0c0c0c), color-stop(78%,#1e1e1e), color-stop(96%,#414141), color-stop(100%,#666666));
background: -webkit-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: -o-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: -ms-linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
background: linear-gradient(top, #a4a4a4 0%,#757575 4%,#4f4f4f 37%,#464646 48%,#000000 52%,#000000 56%,#0c0c0c 67%,#1e1e1e 78%,#414141 96%,#666666 100%);
margin-top: 10px;	
}

.appSelection:hover{
background: #f87948;
background: -moz-linear-gradient(top, #f87948 0%, #fb4e0b 4%, #f44501 11%, #e24000 19%, #983600 44%, #983600 48%, #5c2900 52%, #692b00 67%, #c23700 96%, #bd3800 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87948), color-stop(4%,#fb4e0b), color-stop(11%,#f44501), color-stop(19%,#e24000), color-stop(44%,#983600), color-stop(48%,#983600), color-stop(52%,#5c2900), color-stop(67%,#692b00), color-stop(96%,#c23700), color-stop(100%,#bd3800));
background: -webkit-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -o-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -ms-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
 border-color:#262626; color:#fff
}

.appSelection:focus{
background: #f87948;
background: -moz-linear-gradient(top, #f87948 0%, #fb4e0b 4%, #f44501 11%, #e24000 19%, #983600 44%, #983600 48%, #5c2900 52%, #692b00 67%, #c23700 96%, #bd3800 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87948), color-stop(4%,#fb4e0b), color-stop(11%,#f44501), color-stop(19%,#e24000), color-stop(44%,#983600), color-stop(48%,#983600), color-stop(52%,#5c2900), color-stop(67%,#692b00), color-stop(96%,#c23700), color-stop(100%,#bd3800));
background: -webkit-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -o-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: -ms-linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
background: linear-gradient(top, #f87948 0%,#fb4e0b 4%,#f44501 11%,#e24000 19%,#983600 44%,#983600 48%,#5c2900 52%,#692b00 67%,#c23700 96%,#bd3800 100%);
 border-color:#262626; color:#fff
}

.blueBg{
  background: #eaf8ff; 
}

.dashApp{
color:#fff !important; 
border-color:#000; 
background: #a4a4a4;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
margin-top: 10px;	
}

.dashApp:hover{
background: #f87948;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
 border-color:#262626; 
color:#fff
}

.dashApp:focus{
background: #f87948;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
 border-color:#262626; color:#fff
}



.blackBox{
	border-radius: 7px;
	padding: 12px;
	min-height: 200px;
	cursor: pointer;
    color: #ffffff;
	background: #000000;
}

.topBadge {
    border-radius: 100%;
    display: inline-block;
    font-size: 1.2em;
    margin-left: -30px;
    margin-top: -40px;
    padding: 7px 10px;
	
background: rgba(255,175,75,1);
background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );

}




@media (max-width: 1400px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}


.custFont{
	font-size: 14px;
	color:#666666;
}

.speaker-holder{
	background: #000000;
	position: absolute;
	bottom: -45px;
	padding: 5px;
	border-radius: 100%;
}

.staticMic{
	width: 48px;
	height: 48px;
	 background-image: url(../img/speaker48.png);
	 background-position: bottom center;
	 background-repeat: no-repeat;
	 border: none;
	 background-color: Transparent;
	  outline:none;
}

.processMic{
    float: right;
    padding: 5px;
    background: #ffffff;
    margin-right: -5px;
    margin-top: -7px;
    border-radius: 100%;
    border: 1px solid #B2B2B2;
	cursor: pointer;
}

.gaugeHold{
	margin: 0 auto;
	width: 150px;
}


/*----Main Second Dashboard----*/


.vertiText{
	width: 2%;
	float: left;
	min-height: 100px;
	margin-top: 20px;
	padding-left: -20px;
	
}

.customRow{
	width: 100%;
}



.vertical-text {
			-ms-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);

			/*-ms-transform-origin: left top 0;
			-moz-transform-origin: left top 0;
			-webkit-transform-origin: left top 0;
			transform-origin: left top 0;*/
			
			background: #E23737;
			color: #fff;
			letter-spacing: 2px;
    margin-left: -20px;
    margin-top: 65px;
	 position: absolute;
			padding: 5px 10px;
			border: 1px solid #ccc;
			text-transform: uppercase;
			border: 1px solid #B52C2C;
			text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
			box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);

			float: left;
			  font-size: 1em;
  color: #ffffff;
}

.inputs{
    margin-left: -80px;
    margin-top: 125px;
	text-align: center;
	width: 195px
}

.insight{
    margin-left: -80px;
    margin-top: 85px;
	text-align: center;
	width: 195px
}

.recommend{
    margin-left: -80px;
    margin-top: 85px;
	text-align: center;
	width: 195px
}

.blueBox{
	background: #37495F;
	padding: 7px;
	height: 200px;
}
.blueLeft{
	max-width: 128px;
}

figure.fixedratio {
  padding-top: 100%;  /* 450px/800px = 0.5625 */

  background-image: url(../img/ArrowUp.png);  	
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.blueRight{
	padding: 10px;
}

.blueHeading{
	color: #73AF9E;
	font-size: 5em;
	text-shadow: 2px 2px #1D2C3D;
}

.blueDescription{
	color: #E4E6E5;
	font-size: 1.3em;
	font-style: italic;
	padding-top: 10px;
}

.white{
 background: #ffffff;
 opacity: 1;
 color: #ffffff;
}

.white:hover{
 opacity: 1;
 color: #ffffff;
}

.redText{
	color: #E23737;
}

.reqAnalyize{
  background-image: url(../img/brain.png);
  width: 90px;
  height: 90px;
  float: right;
  background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.handshake{
  background-image: url(../img/handshake2.png);
  width: 100px;
  height: 100px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.questions{
  background-image: url(../img/questions2.png);
  width: 90px;
  height: 90px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.search{
  background-image: url(../img/search.png);
  width: 90px;
  height: 90px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}


.target{
  background-image: url(../img/target.png);
  width: 90px;
  height: 90px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.bulb{
  background-image: url(../img/bulb.png);
  width: 90px;
  height: 90px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.interviews{
  background-image: url(../img/interviews.png);
  width: 90px;
  height: 90px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.scale{
  background-image: url(../img/scale.png);
  width: 80px;
  height: 80px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.stockArrow{
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.technology{
  background-image: url(../img/technology2.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.assessed{
  background-image: url(../img/assessed.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  float: right;
    background-size: cover;
  -moz-background-size: cover;  
  background-position: center; 
}

.gauge-dial{
 padding-right: 15px;
  width: 90px;
  height: 90px;
  float: right;
}

.eqiSpace{
 padding-left: 10px;
 padding-right: 10px; 
}

.blueDescription ul  {
    padding-left: 4%;
}

.blueDescription ul li  {
		list-style-type: none;
}

.blueDescription ul li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 2px;
    margin-left: -17px;
   font-style: normal;
   font-size: 0.8em;

}

.dashboard-indicators{
	margin-bottom: -65px;
}

#carousel-dashboard{
	height: 685px;
}

.dashboardTitle{
 
 padding: 10px 5px;
 border: 1px solid #dddddd;
 font-size: 0.95em;
 -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -9px black;
	        box-shadow: 0 8px 6px -9px black;
 border-radius: 5px;

background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(224,239,249,1) 23%, rgba(216,225,231,1) 72%, rgba(181,198,208,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(23%, rgba(224,239,249,1)), color-stop(72%, rgba(216,225,231,1)), color-stop(100%, rgba(181,198,208,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(224,239,249,1) 23%, rgba(216,225,231,1) 72%, rgba(181,198,208,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(224,239,249,1) 23%, rgba(216,225,231,1) 72%, rgba(181,198,208,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(224,239,249,1) 23%, rgba(216,225,231,1) 72%, rgba(181,198,208,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(224,239,249,1) 23%, rgba(216,225,231,1) 72%, rgba(181,198,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=0 );
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 1.2em;
}




/*---Speaker Support---*/

.speakerSection{
	width: 100%;
	position: fixed; /* fixed to relative  */
	bottom: 5px;
    left: 0;
	
}

#speaker-content,#chatwindow {
	display: none;	
}

#speaker-left {
	width: 20%;
	height: 145px;	
	float: left;
	background-color: #5C4033;
	
} 


#speaker-right {
	width: 100px;
	height: 10px;
	float: left;
	background-color: #dddddd;
	opacity: 0.8;
}

.toggle-speaker {
	width: 65px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	background-color: #dddddd;
	opacity: 0.8;
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
}



.icon_help{
    width:64px;
    height:64px;
    display:block;
    left:-5px;
    position:absolute;
	z-index:999999;
	border-radius: 100%;
    border: 2px solid #dddddd !important;
}


.icon_help{
    background:transparent url(../img/speaker.png) no-repeat top left;
	background-color: Transparent;
	outline:none;
}


.rightSide{
    height:60px;
    display:block;
	float: left;
	width: 100%;
	padding: 10px;
	text-align: right;
}


.greenPhone{
	opacity: 1 !important;
	font-size: 3em !important;
	position: absolute;
	color: #42C122;
	margin-top: -15px;
	margin-left: 10px
}


/*.phoneHolder{ 
	opacity: 1 !important;
	position: absolute;
	top:0; 
	left:7px;
	background:transparent url(../img/start-calling.png) no-repeat top left;
	width:35px;
	height: 35px;
	cursor: pointer;
	border: none;
	background-color: Transparent;
	outline:none;
}*/


		.phoneHolder{ 
	        background: transparent url(../img/icons/Online-Support-Executive.png) no-repeat top 5px left 10px;
			display: block;
			float: right;
			padding: 60px 0px 0px 0px;
			position: fixed;
			top:40%;
			/*left:-40px;*/
			right: 0px;
			outline:none;
			background-color: #8a0f28;
			color: #ffffff;
			border-right: none;
			border-radius: 5px 0px 0px 5px;
			border: none;
			height: 120px;
			width: 50px;
			-webkit-box-shadow: -4px 4px 8px -3px rgba(255,255,255,1);
-moz-box-shadow: -4px 4px 8px -3px rgba(255,255,255,1);
box-shadow: -4px 4px 8px -3px rgba(255,255,255,1);
		}
		
		.supportButton{
			background: none;
			outline: none;
			border: none;
			padding: 0px;
		}
		
		
		
		.rotate90{
			-webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
             writing-mode: lr-tb;
		}

		
		.transcripts{
			float: left;
			width: 100%;
		}
		
		#speaker-content{
			float: left;
			width: 100%;
			background: #ebebeb;
			border-radius: 0px 0px 4px 4px;
		}
		
		
.startCall{
	opacity: 1 !important;
	position: absolute;
	margin-top: -50px;
	margin-left: 10px;
	background:transparent url(../img/calling.png) no-repeat top left;
	width:48px;
	height: 48px;
	cursor: pointer;
}

/*
.endCall{
	opacity: 1 !important;
	margin-top: 2px;
	margin-left: 10px;
	background:transparent url(../img/end-call.png) no-repeat top left;
	width:49px;
	height: 21px;
	cursor: pointer;
	left: 10px;
	border: none;
	background-color: Transparent;
	outline:none;
}
*/

.callButton{
	background: #108558;
	outline: none;
	border-radius: 100%;
    font-size: 1.4em;
	border: none;
	color: #ffffff;
	width: 40px;
	height: 40px;
}

.endCall{
	background: #c42929;
	outline: none;
	border-radius: 100%;
    font-size: 1.4em;
	border: none;
	color: #ffffff;
	width: 40px;
	height: 40px;
}



.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  transform: rotate(140deg);
}




/*----Feedback Slider Section----*/

        #feedback{
			position: fixed;
			top:22%;
			right:-368px;
			
			-webkit-box-shadow: -4px 4px 8px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: -4px 4px 8px -3px rgba(0,0,0,0.75);
             box-shadow: -4px 4px 8px -3px rgba(0,0,0,0.75);
			
		}
		
		
		.chatHolder{
			float: left;
			border: 1px solid #999;
			border-radius:4px;
			width:362px;
			background: #ffffff;
			 height: 411px;
		}
		
		#feedback form{
			float: left;
			border: 1px solid #999;
			padding: 10px;
			border-radius:5px;
		}
		
		
		#feedback a{
			background:url("feedback-buttons.png")  no-repeat center left transparent;
			display: block;
			width:40px;
			height:175px;
			float: left;
			text-indent:-9999em;
			position: absolute;
			top:120px;
			left:-40px;
		}
		
		#feedback form label{
			display: block;
			float: left;
			text-align:right;
			margin-right:20px;
			width:70px;
			font-weight:bold;
			color: 019AC6;
			font-size:14px;
		}
		
		#feedback a{
			background:url("feedback-buttons.png")  no-repeat center left transparent;
			display: block;
			width:40px;
			height:175px;
			float: left;
			text-indent:-9999em;
			position: absolute;
			top:120px;
			left:-40px;
		}
		
		#feedback a:hover{
			background-position: center right;
		}
		#feedback form .btn{
			float: right;
			background:url("send.png")  no-repeat 0px 0px transparent;
			text-indent:-9999em;
			width:80px;
			height:28px;
			border:none;

		}
		#feedback form textarea{
			width:250px;
			height:140px;
			border: 1px solid #019AC6;
		}
		#feedback form input[type="text"]{
			width:250px;
			height:30px;
			border: 1px solid #019AC6;
		}
		#feedback h2{
			text-align:center;
			color: #019AC6;
			font-size:22px;
		}
		
		.chatHeading{
			background: #0e789e;
			margin: 0px;
			padding: 10px;
            border-radius: 4px 4px 0px 0px;
			color: #ffffff;
			font-size: 1.2em;
		}
		.commentIcon{
			padding-right: 5px;
			font-size: 1em;
		}
		
		button.customClose{
		 color: #ffffff;
         outline: none;
		 border: none;
		 background: none;
		 opacity: 1 !important;
		}
		
		.whiteColor{
		 color: #ffffff !important;
		}

/*
.skype {
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px;
  border: solid 15px #fff;
  animation: play 1.5s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.skype:before {
  position: absolute;
  top: 13px;
  right: 16px;
  border-radius: 100px;
  z-index: 99998;
  transform: rotate(45deg);
  transform-origin: bottom;
}
.skype:after {
  background: #12A5F4;
  background-size: 100% 100%;
  color: #fff;
  font-size: 150px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  border-radius: 150px;
  z-index: 99999 !important;
}
.skype:hover {
  animation: none;
  transform: scale(1.2);
  transition: 0.5s;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}
*/



.weightage-points{
 padding: 0px 7px 7px 7px;
 min-height: 525px;
}


.weightage-points ul {
  margin: 0px;
  padding: 0px;
}


.weightage-points ul li {
  list-style: none;
  /*margin: 0px 0 15px 0;*/
  padding: 0px 5px 0px 5px;
}

.noMrgBottom{
	margin-bottom: 0px;
}


.dashSlide{
  width: 100%;
  position: relative;
  height: 23px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #cccccc;
  padding-top: 2px;
}









/*--Carousel Slider--*/

/* Page */

.carouselHolder {
    width: 100%;
    margin: 0 auto;
}


/* Carousel */

.carouselMain {
    position: relative;
    overflow: hidden;
    width: 100%;
	padding-bottom: 15px;
}

.carousel-container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
	display: none;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-prev::before {
    content: '\f053';
    font-family: "FontAwesome";
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-next::before {
    content: '\f054';
    font-family: "FontAwesome";
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: pointer;
    margin: 5px 2px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet, 
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}







/*--Carousel Slider--*/

/* Page */

.carouselHolder2 {
    width: 100%;
    margin: 0 auto;
}


/* Carousel */

.carouselMain2 {
    position: relative;
    overflow: hidden;
    width: 100%;
	padding-bottom: 15px;
}

.carousel-container2 {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item2 {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel-prev2,
.carousel-next2 {
    position: absolute;
    top: 50%;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
	display: none;
}

.carousel-prev2 {
    left: 2%;
    padding-right: 3px;
}

.carousel-prev2::before {
    content: '\f053';
    font-family: "FontAwesome";
}

.carousel-next2 {
    right: 2%;
    padding-left: 3px;
}

.carousel-next2::before {
    content: '\f054';
    font-family: "FontAwesome";
}

.carousel-prev2:hover,
.carousel-next2:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination2 {
    list-style: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: pointer;
    margin: 5px 2px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet2:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet2.active-bullet2, 
.carousel-bullet2.active-bullet2:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}


/* ChatWindow Stylesheet
 * @Akash
 */
#chatwindow{
	padding:10px;
    height:300px;
    float:left;
    margin-top:10px;
    min-width:330px;
    max-height: 300px;

}
#messagewindow{   
    overflow:auto;
    overflow-x: auto;
	max-height: 290px;
	height: 290px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #16A1C0;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    display: block;
    height: 16px;
    box-shadow: 0 0 6px #16A1C0;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}



/*.navbar-default {
    border-radius: 4px;
    
}
.navbar-default {
    background-color: #f8f8f8;    
}
*/

.navbar-blue{
	background-color: #0d7a9e;
	border-color: #e7e7e7;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
	padding-bottom: 10px;
}

.navbar-blue .navbar-nav >li {
 /*margin-bottom: 10px;*/
 margin-right: 2px;
}

.navbar-blue .navbar-nav >li a{
 border-top: 5px solid #0d7a9e;
 color: #ebfafa;
 text-shadow: none;
}

/*.navbar-blue .navbar-nav >li a:hover{
  border-top: 5px solid #0d7a9e;
  color: #ffffff;
  background: none;
}*/

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #0d7a9e;
  color: #ffffff;
}

.navbar-nav >li  > a:hover{
  color: #ffffff;
}


.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .active > a {
  background-color: #ffffff;
  border-top:5px solid #f0ab17;
  color: #0d7a9e;
  border-radius: 0 0 5px 5px;
}



ul.nav.navbar-nav.signOff{
   padding-left: 40px;
}





.navbar-blue .signOff >li{
   margin-right: 0px;
}



.navbar-blue .signOff >li a{
 border-top: 4px solid #0d7a9e;
 padding-left: 5px;
 padding-right: 5px;
 font-size: 0.9em;
 color: #ebfafa;
 text-shadow: none;
}

.navbar-blue .signOff >li a:hover{
  background: none;
  color: #ffffff;
  border-top: 4px solid #0d7a9e;
}


.navbar-blue .signOff > .open > a,
.navbar-blue .signOff > .active > a {
  background-color: #f2d080;
  border-top: 4px solid #e65843;
  color: #0d7a9e;
  border-radius: 0 0 5px 5px;
}




.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    padding-left: 10px;
    padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
}




.buttonBg{
	background: #dddddd;
}

.technicalParam{
	margin-bottom: 60px;
}






/*
 * Changes 
 * @Akash
 */
.vtext{
transform: rotate(90deg)scale(-1,-1);
    transform-origin: left top 0;
    position: absolute;
    top: 98.5%;
    width: 47.7%;
    background: #fff;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border: 1px solid #ccc;
    font-size: 1em;
    color: #000;
    letter-spacing: 2px;
    box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);
}
.htext{
    position: relative;
    margin-left: 35px;
    width: 97%;
    background: #fff;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border: 1px solid #ccc;
    font-size: 1em;
    color: #000;
    letter-spacing: 2px;
    box-shadow: 2px -2px 0px rgba(0, 0, 0, 0.1);
}
.jqx-fill-state-normal-shinyblack, .jqx-widget-header-shinyblack{
background: #E1F3F7;
color: #000;
}
.jqx-widget-shinyblack .jqx-grid-cell-shinyblack,
.jqx-widget-header-shinyblack,
.jqx-grid-header-shinyblack,
.jqx-widget-shinyblack,
.jqx-widget-shinyblack .jqx-grid-group-cell-shinyblack,
.jqx-widget-shinyblack .jqx-grid-column-header-shinyblack{
border-color:#ccc;
}
/*--Akash Changes Ends--*/



.navbar-nav .icon {
  width: 25px;
  height: 20px;
  float: left;
  margin-right: 1rem;
  fill: #e6f5fc;
}

.navbar-nav a:hover svg {
  fill: #ffffff;
}


/*.navbar-nav a:focus svg {
  fill: #0d7a9e;
}
*/

.navbar-blue .navbar-nav > .active > a svg {
  fill: #0d7a9e;
}

.customMbNav{
	background: #ebebe6;
}

.customMbNav span.icon-bar{
	background: #f0ab17;
}






.responsive-container {
    position: relative;
    width: 100%;
    /*border: 1px solid black;*/
	height: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}


.rightText{
	float: right;
	cursor:pointer;
	width: 67%;
	font-size: 1.1em;
}

.gaugeBoxTitle{
  font-size: 3em;
  color: #545550;
  padding-top: 15px;
}

.gaugeRed{
 color: #FF0000;	
}










