*,body {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 14px;
}

.greyBg {
	background: #ebf0f2;
}

.profileDashboard {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	float: left;
}

.userProfileSection {
	background-color: #d8e2e6;
	border-radius: 4px;
	padding-top: 40px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 400px;
}

.userDial {
	background: #ffffff;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}

.userIcon {
	font-size: 7em;
	color: #17a3bf;
}

.center {
	text-align: center;
}

.topPad {
	padding-top: 20px;
}

.topPad15 {
	padding-top: 15px;
}

.padTop {
	margin-top: 40px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #dff4f5;
}


/*----Tab Styling----

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #17a1bd !important;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: #17a1bd;
	border-bottom: 4px solid #17a1bd;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}

.nav-tabs>li>a:hover {
	background: none !important;
	color: #000000 !important;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

*/

.nav-tabs>li>a {
	cursor: pointer;
}


.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.dashboardLogout {
	background: #0d91ba none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	outline: medium none;
	padding-top: 1px;
	font-size: 1.7em;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 8px;
	margin-top: 10px;
	border: 1px solid #0F6D89;
	-webkit-box-shadow: 0 8px 6px -6px #0C5C75;
	-moz-box-shadow: 0 8px 6px -6px #0C5C75;
	box-shadow: 0 8px 6px -6px #0C5C75;
	width: auto !important;
}

.assessLink {
	cursor: pointer;
}

.radio-inline {
	margin-top: 0px;
	margin-left: 10px;
}

#assessmentRadio {
    text-align: left;
    margin-left: 5px;
}